<IfModule mod_rewrite.c>
RewriteEngine On

RewriteRule "^.well-known/webfinger" webfinger.php [L]
RewriteRule "^.well-known/nodeinfo" nodeinfo.php [L]

RewriteRule "^@(\w+)$" "user.php?user=$1" [L]


</IfModule>